:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

form {
  border: black solid medium;
  padding: 16px;
}

.center-block {
  display: block;
  width: 200px;
  margin: auto auto 16px;
}

.alert {
  background: darkred;
}

button {
  margin: 8px auto;
  display: block;
}
